<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <title>{% block title %}FitForecast{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap" rel="stylesheet">
    
    <!-- Only one link for Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Top Bar (Title) -->
    <header class="top-bar">
        <span class="material-symbols-outlined">
            menu
        </span>
        <h1>
            <span class="first-three">Fit</span><span class="rest-of-text">Forecast</span>
        </h1>
        <img src="{% static 'images/profile-pic.png'%}" alt="Profile" class="circle-img">
    </header>
    

    <!-- Scrollable Sports Bar -->
    <div class="sports-bar">
        <div class="sports-container">
            <span class="sport" id="run-pill">Running</span>
            <span class="sport" id="cycle-pill">Cycling</span>
            <span class="sport" id="swim-pill">Swimming</span>
            <span class="sport">Yoga</span>
            <span class="sport">Weightlifting</span>
            <span class="sport">Tennis</span>
            <span class="sport">Football</span>
            <span class="sport">Basketball</span>
            <span class="sport">Rowing</span>
            <span class="sport">Hiking</span>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

<footer>
    <p>footer placeholder</p>
</footer>

<script src="{% static 'js/data-controller.js' %}"></script>
<script src="{% static 'js/select-pill.js' %}"></script>
<script src="{% static 'js/tiles.js' %}"></script>
<script src="{% static 'js/smart-index-gauge.js' %}"></script>

</body>
</html>
